<div class="container d-flex justify-content-center">
  <figure class="card card-product-grid card-lg">
    <a href="#" class="img-wrap" data-abc="true">
      <img src="https://i.imgur.com/Bd56jKH.png" alt=""></a>
    <figcaption class="info-wrap">
      <div class="row">
        <div class="col-md-9" id="name_product">
        </div>
        <div class="col-md-3">
          <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
        </div>
      </div>
    </figcaption>
    <div class="bottom-wrap"> <a href="#" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
      <div class="price-wrap"> <span class="price h5">$999</span> <br> <small class="text-success">Free shipping</small> </div>
    </div>
  </figure>
</div>
