.season-box{
    width: 160px;
    margin: 10px;
}

.season-img img{
    width: 100%;
}

.season-title{
    font-weight: bold;
    font-size: 15px;
    padding: 5px 0px;
}

.season-date{
    font-size: 14px;
    color: #424242;
    padding: 0px 0px 10px 0px;
}